@{
    ViewData["Title"] = "About";
}

<body id="home">
    <header>
        <div id="navbar" class="navbar top">
            <h1 class="logo">
                <span class="text-primary"><i class="fas fa-book-open"></i> Budget</span>Pulse
            </h1>
            <nav>
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li><a href="@Url.Action("Index", "Expense")">Expenses</a></li>
                    <li><a href="@Url.Action("Index", "About")">About</a></li>
                    <li><a href="@Url.Action("Login", "Home")">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>



    @*<div class="expense">
        <h2>About Us</h2>
        <p>
            Our mission is to help individuals take control of their finances and achieve their financial goals.
            We believe that by providing a user-friendly and intuitive personal finance tracking platform, we can empower our users to make informed decisions and improve their financial well-being.
        </p>
    </div>*@

    <div class="expense">
        <section id="team" class="team section-padding">
            <header class="section-header">
                <h2 class="green-text">About Us</h2>
                <p class="white-text">Get to know the dedicated professionals behind Budget Pulse, committed to providing you with the best financial management experience. <a href="https://github.com/prudhvitejamamidi/BudgetPulse.git" style="color: red; font-size: larger;">GitHub</a></p>
            </header>

            <div class="team-members">
                <div class="team-member-container">
                    <div class="individual-team-member">
                        <div class="left">
                            <img src="images/team/anuraag.jpg" alt="Anuraag Gujje" />
                            <h4>Anuraag Gujje</h4>
                            @*<p>Data Model Developer</p>*@
                        </div>
                        <div class="right">
                            <p><strong>Professional Summary:</strong> Datawarehouse Engineer with 2 years of experience at O9 Solutions, specializing in data modeling and BI development.</p>
                            <p><strong>Contributions:</strong> DataModel Design. Implemented Dashboard page and controllers.</p>
                        </div>
                    </div>
                </div>

                <div class="padding"></div>

                <div class="team-member-container">

                    <div class="individual-team-member">
                        <div class="left">
                            <img src="images/team/harshasai.jpg" alt="Harsha Sai Jagu" />
                            <h4>Harsha Sai Jagu</h4>
                            @*<p>Dotnet Developer</p>*@
                        </div>
                        <div class="right">
                            <p><strong>Professional Summary:</strong> Data Scientist with 2 years of experience at Fractal Analytics, India, specializing in Python, Machine Learning, and Data Science.</p>
                            <p><strong>Contributions:</strong> Developed Login and Signup page. Developed User Login controllers.</p>
                        </div>
                    </div>
                </div>

                <div class="padding"></div>

                <div class="team-member-container">

                    <div class="individual-team-member">
                        <div class="left">
                            <img src="images/team/niharika.jpg" alt="Niharika" />
                            <h4>Niharika Chowdary Mullangi</h4>
                            @*<p>Dotnet Developer</p>*@
                        </div>
                        <div class="right">
                            <p><strong>Professional Summary:</strong> Data Engineer with 2 years of experience at Infosys Pvt Ltd, India, specializing in SQL and ETL processes.</p>
                            <p><strong>Contributions:</strong> Developed home and about pages.</p>
                        </div>
                    </div>
                </div>

                <div class="padding"></div>

                <div class="team-member-container">

                    @*<div class="padding"></div>*@

                    <div class="individual-team-member">
                        <div class="left">
                            <img src="images/team/prudhvi.jpg" alt="Prudhvi" />
                            <h4>Prudhvi Teja Mamidi</h4>
                            @*<p>Dotnet Developer</p>*@
                        </div>
                        <div class="right">
                            <p><strong>Professional Summary:</strong> Oracle Consultant and Mobile App Developer with 2 years of experience at Nalsoft. Specialized in ETL processes, Business Intelligence, and App development.</p>
                            <p><strong>Contributions:</strong> Designed complete page layout. Developed expenses controller and expenses page.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>












        <script src="https://code.jquery.com/jquery-3.5.0.min.js"
                integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
                crossorigin="anonymous"></script>
        <script src="js/lightbox.min.js"></script>
        <script>const navbar = document.getElementById('navbar');
            let scrolled = false;

            window.onscroll = function () {
                if (window.pageYOffset > 100) {
                    navbar.classList.remove('top');
                    if (!scrolled) {
                        navbar.style.transform = 'translateY(-70px)';
                    }
                    setTimeout(function () {
                        navbar.style.transform = 'translateY(0)';
                        scrolled = true;
                    }, 200);
                } else {
                    navbar.classList.add('top');
                    scrolled = false;
                }
            };

            // Smooth Scrolling
            $('#navbar a, .btn').on('click', function (e) {
                if (this.hash !== '') {
                    e.preventDefault();

                    const hash = this.hash;

                    $('html, body').animate(
                        {
                            scrollTop: $(hash).offset().top - 100,
                        },
                        800
                    );
                }
            });</script>
</body>