@{
    ViewData["Title"] = "Home Page";
}
<header class="hero">
    <div id="navbar" class="navbar top">
        <h1 class="logo">
            <span class="text-primary"><i class="fas fa-book-open"></i> Budget</span>Pulse
        </h1>
        <nav>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                <li><a href="@Url.Action("Index", "Expense")">Expenses</a></li>
                <li><a href="@Url.Action("Index", "About")">About</a></li>
                @if (TempData["UserNme"] != null)
                {

                    <li><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Home")">Login</a></li>
                }

            </ul>
        </nav>
    </div>


    <div class="content">
        <h1>Take Control of Your Finances</h1>
        <p>Easily track your expenses, set budgets, and forecast your future spending.</p>
        <a href="@Url.Action("Register", "Home")" class="btn">Get Started<i class="fas fa-chevron-right"></i></a>

    </div>
</header>
@*<div class="hero-image">
        <img src="~/img/hero-image.png" alt="Hero Image">
    </div>*@


<section id="about" class="icons bg-light">
    <div class="flex-items">
        <div>
            <i class="fas fa-pencil-alt fa-2x"></i>
            <div>
                <h3>Expense Tracking</h3>
                <p>Track expenses effortlessly and monitor spending habits to stay within budget.</p>
            </div>
        </div>
        <div>
            <i class="fas fa-university fa-2x"></i>
            <div>
                <h3>Budget Management</h3>
                <p>Effortlessly manage budgets by organizing expenses and income in one place.</p>
            </div>
        </div>
        <div>
            <i class="fas fa-book-reader fa-2x"></i>
            <div>
                <h3>Expense Forecasting</h3>
                <p>Predict future spending based on past patterns and make informed decisions.</p>
            </div>
        </div>
    </div>
</section>

<section class="solutions flex-columns">
    <div class="row">
        <div class="column">
            <div class="column-1">
                <img src="images/home/hero.jpg" alt="" />
            </div>
        </div>
        <div class="column">
            <div class="column-2 bg-primary">
                <h4>What you are looking for</h4>
                <h2>We Provide Accurate Estimates</h2>
                <p>At Budget Pulse, we specialize in providing precise financial estimates tailored to your unique needs. Our advanced algorithms analyze your spending patterns and financial data to generate accurate predictions, empowering you to plan and budget with confidence.</p>
                <a href="@Url.Action("Index", "About")" class="btn">Know More<i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>


<section id="cases" class="cases flex-grid section-padding">
    <header class="section-header">
        <h4>What We Do</h4>
        <h2>Budget Analysis</h2>
        <p>Gain valuable insights into your financial health with our comprehensive budget analysis tools. Discover where your money is going and identify opportunities to save and optimize your spending.</p>
    </header>
    <div class="row">
        <div class="column">
            <a href="images/cases/case1.jpg"
               data-lightbox="cases"
               data-title="Track your expenses and identify spending patterns">
                <img src="images/cases/case1.jpg" alt="Expense Tracking" />
            </a>
        </div>
        <div class="column">
            <a href="images/cases/case2.jpg"
               data-lightbox="cases"
               data-title="Analyze your spending habits and set realistic budgets">
                <img src="images/cases/case2.jpg" alt="Budget Analysis" />
            </a>
        </div>
        <div class="column">
            <a href="images/cases/case3.jpg"
               data-lightbox="cases"
               data-title="Get insights into your financial trends and plan for the future">
                <img src="images/cases/case3.jpg" alt="Financial Trends" />
            </a>
        </div>
        <div class="column">
            <a href="images/cases/case4.jpg"
               data-lightbox="cases"
               data-title="Optimize your spending and achieve your financial goals">
                <img src="images/cases/case4.jpg" alt="Financial Goals" />
            </a>
        </div>
    </div>
</section>

<section id="team" class="team section-padding">
    <header class="section-header">
        <h4>Who we are</h4>
        <h2>Our Professional Team</h2>
        <p>Get to know the dedicated professionals behind Budget Pulse, committed to providing you with the best financial management experience.</p>
    </header>
    <div class="flex-items">
        <div>
            <img src="images/team/anuraag.jpg" alt="" />
            <h4>Anuraag Gujje</h4>
            <p>Data Model Developer</p>
        </div>
        <div>
            <img src="images/team/harshasai.jpg" alt="" />
            <h4>Harsha Sai Jagu</h4>
            <p>Dotnet Developer</p>
        </div>
        <div>
            <img src="images/team/niharika.jpg" alt="" />
            <h4>Niharika Chowdary Mullangi</h4>
            <p>UI/UX Design</p>
        </div>
        <div>
            <img src="images/team/prudhvi.jpg" alt="" />
            <h4>Prudhvi Teja Mamidi</h4>
            <p>Dotnet Developer</p>
        </div>
    </div>
</section>
<script src="script.js"></script>

<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="js/site.js"></script>
<script>const navbar = document.getElementById('navbar');
    let scrolled = false;

    window.onscroll = function () {
        if (window.pageYOffset > 100) {
            navbar.classList.remove('top');
            if (!scrolled) {
                navbar.style.transform = 'translateY(-70px)';
            }
            setTimeout(function () {
                navbar.style.transform = 'translateY(0)';
                scrolled = true;
            }, 200);
        } else {
            navbar.classList.add('top');
            scrolled = false;
        }
    };

    // Smooth Scrolling
    $('#navbar a, .btn').on('click', function (e) {
        if (this.hash !== '') {
            e.preventDefault();

            const hash = this.hash;

            $('html, body').animate(
                {
                    scrollTop: $(hash).offset().top - 100,
                },
                800
            );
        }
    });</script>
